##############
## unity
##############
[Ll]ibrary
[Tt]emp
[Oo]bj

##############
## Editor
##############
*.pidb
*.csproj
*.unityproj
*.booproj
*.svd
*.user
*.userprefs
*.suo
*.sln
LocalCache/

##############
## BuildResult
##############
Simulator/
iOSDevice/

##############
## Mac
##############
*.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
